# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo
out

# Environment variables
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Database
*.sqlite
*.db

# IDE
.idea
